*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.carousel {
    margin-top: 75px; /* height of the fixed-top navbar */
  }

  .carousel-item img {
    height: 400px; /* задаем высоту для изображений */
    object-fit: cover; /* заполняем контейнер изображением */
  }