html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* color: #000; */
  background: #fff;
  min-width: 320px;
}

.top-menu::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #fff;
  height: 1px;
  transition: all .3s;
  transform: scale(0);
}

.top-menu:hover::after {
  transform: scale(1);
}


.modal {
  z-index: 1030; /* lower than the default value of 1040 */
}

/* img {
  max-width: 100%;
  height: auto;
} */

/* section {
  padding: 50px 0;
} */

/* .carousel {
    margin-top: 75px; 
} */

  /* .carousel-item img {
    height: 400px;
    object-fit: cover;
  } */